RedirectMatch 404 \.git
RedirectMatch 404 update\.php
RedirectMatch 404 db_backups
RedirectMatch 404 preferences\.php

<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?videoId=$1 [L,QSA]
</IfModule>
