/* -------------
  Reset styles
--------------- */

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body, div, ul, li, p {
	margin: 0;
	padding: 0;
	border: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-weight: normal;
}

ul {
    list-style: none;
}

hr {
	margin: 0;
	padding: 0;
	border: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
    border: none;
    color: inherit;
    text-decoration: none;
}

a img {
    border: none;
}

input, button, textarea {
	border: none;
}

.clear-fix {
    clear:both;
    float:none;
}

.clear-fix > .content {
	clear: both;
	display: block;
}


/* -------------
  Global styles
--------------- */

p {
	margin: 1em 0;
}

p:first-child {
	margin-top: 0 !important;
}

p:last-child {
	margin-bottom: 0 !important;
}

.wrap {
	margin: 0 3.4375%; /* 55/1600 */
}

.col_container {
	word-spacing: -0.2857em;
	white-space: nowrap;
}

.col_container.nonowrap {
	white-space: normal;
}

.col {
	display: inline-block;
	word-spacing: normal;
	vertical-align: top;
	white-space: normal;	
}

.third { 
	width: 31.041666666667%; /* 496.667/1600 */
}

.two-thirds {
	width: 65.520833333333%; /* (496.667*2 + 55) / 1600 */
}

.third + .third,
.third + .two-thirds,
.two-thirds + .third {
	margin-left: 3.4375%; /* 55/1600 */
}

.wrap .third {
	width: 30.872483221477%; /* 460/1490 */
}
	
.wrap .two-thirds {
	width: 65.436241610738%; /* (460*2 + 55) / 1490 */
}

.wrap .third + .third,
.wrap .third + .two-thirds,
.wrap .two-thirds + .third,
.wrap .sixth + .sixth {
	margin-left: 3.691275167785%; /* 55 / 1490 */
}

.third:nth-child(3n+1) {
	margin-left: 0 !important;
}

.half {
	width: 49%;
}

.half + .half {
	margin-left: 2%;
}

.wrap .two-thirds .half {
	width: 47.179487179487%; /* 460 / (460*2+55) */
}

.wrap .two-thirds .half + .half {
	margin-left: 5.641025641026%;
}

.wrap .third .half {
	width: 44.13043478%;/* 203 / 460 */
}

.wrap .third .half + .half {
	margin-left: 11.9562174% /* 55 / 460 */
}

.half:nth-child(2n+1) {
    margin-left: 0 !important;
}

.sixth:nth-child(6n+1) {
    margin-left: 0 !important;
}

.sixth:nth-child(1),
.sixth:nth-child(2),
.sixth:nth-child(3),
.sixth:nth-child(4),
.sixth:nth-child(5),
.sixth:nth-child(6) {
	margin-top: 0 !important;
	margin-left: 3.691275167785%; /* 55 / 1490 */
}

.wrap .sixth {
	width: 13.59060403%; /* 202.5/1490 */
	margin-top: 3.691275167785%; /* 55 / 1490 */
}

.bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Real stuff */
#video_container {
	position: relative;
}

#video {
	max-width: 100%;
	max-height: 100%;
}

#playback_rate {
	position: absolute;
	top: 5px;
	right: 5px;
	background: white;
	padding: 5px;
}

#legend dt {
	clear: left;
	min-width: 4em;
	margin-bottom: 0.5em;
	text-align: right;
	margin-right: 1em;
}

#legend dt,
#legend dd {
	float: left;
}

#legend dd {
	margin: 0;
}

#log_table {
	width: 100%;
}

#log_table th {
	text-align: left;
}

#log_table .note {
	width: 100%;
}